@import url('https://fonts.googleapis.com/css2?family=Bodoni+Moda:wght@700&family=Passion+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Instrument+Serif:ital@0;1&family=Medula+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Belanosima:wght@400;600&display=swap');

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
}

#content {
    max-width: 1600px;
    padding: 0 auto;
}

header {
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 50px auto;
    background-image: url('https://avee1000.github.io/wdd130/shub/images/wave.png');
    background-size: 150%; 
    height: 80px;
}

#logo_link1 {
    justify-self: center;
    align-self: center;
    padding-top: 5px;
    margin-left: 50px;
}

.logo1{
    position: relative;
    left: 50px;
    width: 150px;
}
    
nav{
    display: flex;
    justify-content: space-around;
}
