@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@100&family=Sigmar&display=swap');

:root {
    --heading-font: "sigmar";
}

img {
    width: 80%;
}

p {
    width: 40%;
}

a {
    font-size: 1.0em;
}

.shaded { font-size: 1.5em;
    font-family: var(--heading-font);
    line-height: 1.5em;
}


a:hover {background-color: blue;
    color: white; 		/* add this */

}

/* * {
    border: 2px solid green;
} */

h1 {
    text-align: center;
}

nav, footer {
    text-align: center;
}

img {
    width: 80%;
    display: block;
    margin: 0 auto;
}

main p {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}
