@import url('https://fonts.googleapis.com/css2?family=Foldit:wght@100&family=Sigmar&display=swap');

:root {
    --heading-font: "sigmar";
}

img {
    border: 4px solid steelblue;
    width: 80%;
}

p {
    width: 40%;
}
/* 
.shaded { font-size: 20em;
    font-family: var(--heading-font);
    line-height: 1.5em;
} */
nav {
    padding: 10px;
}

#hovr {
    background-color: #C6BEAC;
    display: block;
    border: 5px solid;
    padding: 10px 10px;
    border-radius: 25px;
    border-color: #121B19;}

#active {
    color: #DAE5E9;
    font-size: 1em;
    background-color: #16211C;
    padding: 7px;
    border-radius: 25px;}

#active:hover {
    color: #16211C;
    background-color: #C8CEBE;
    border: 5px solid transparent;
    border-color: #16211C;}

/* * {
    border: 2px solid green;
} */ /*use this to display borders*/

h1 {
    margin: 50px 0;
    text-align: center;
}

img {
    width: 80%;
    display: block;
    margin-left: auto;
}

main p {
    width: 80%;
    margin: 50px auto;
    text-align: center;
}

footer {
    background-color: steelblue;
    color: white;
    text-align: center;
}

footer p {
    padding: 25px;
    font-size: 20px;
    margin: 20px auto;
}

